// Palette
@primary: #CB983D;
@palette-default: #E5DBD2;
@palette-lightest: #ffffff;
@bg-color: #574B4B;

// Type
@brand-font: 'Junge', 'Arial', 'sans-serif';

// Wrapper

// Structural
@spacer: 5px;

@ani-speed: 0.3s;

// Breakpoints
@mobile: 764px;
@mobile-max: @mobile - 1;