.site-header {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        ul {
            display: none;
        }
    }

    .menu {
        display: flex;
        justify-content: center;

        a {
            padding: 10px 5px;
        }
    }
}