
.site-main {
    .page {
        border-top: 5px solid @primary;
        padding-top: 45px;
    }
}


.site-main {
    .home-page {
        border-top: none;
        padding-top: 0;
    }
}

.slick-track {
    height: 80vh;

    .slick-slide {
        height: 100% !important;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.hero {
    position: relative;

    .hero-content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 30px 15px;
        @media(min-width: @mobile) {
            padding: 30px;
        }
        background: fade(#574B4B, 70%);
        z-index: 1;
    }

    p {
        padding: 0;
        margin: 0;
        font-size: 1.8rem;
        @media(min-width: @mobile) {
            font-size: 2.4rem;
        }
    }

    .slick-dots {
        bottom: 5px;
        z-index: 2;
    }

    .slick-dots li button:before {
        font-size: 10px;
        color: white;
    }

    .slick-dots li.slick-active button:before {
        color: @primary;
    }
}

.gallery {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        @media(min-width: @mobile) {
            display: flex;
            flex-wrap: wrap;
        }

        li {
            margin: 0 5px 5px 5px;
            @media(min-width: @mobile) {
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: ~"calc(25% - 10px)";
            }

            img {
                width: 100%;
                height: auto;
                @media(min-width: @mobile) {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        a {
            display: block;
        }
    }
}

.contact-list {
    display: inline-block;
    list-style: none;
    font-size: 1.8rem;
    margin-top: 20px;

    li + li {
        margin-top: 27px;
    }

    a {
        width: 100%;
        display: flex;
        position: relative;
        justify-content: flex-start;
        justify-items: center;
        text-decoration: none;
        line-height: 32px;
    }

    svg {
        color: @palette-lightest;
        margin-right: 16px;
    }
}

.wpforms-container {
    text-align: left;
}