html {
    font-size: 62.5%;
}

body {
    background-color: @body-bg;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.9rem;
    overflow-x: hidden;
}

.container {
    padding-left: 0;
    padding-right: 0;
}