p {
    margin: 0 0 15px 0;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin-top: 0;
    margin-bottom: 15px;
}

a {
    transition: opacity @ani-speed ease-in;

    &:hover {
        opacity: 0.8;
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: @brand-font;
}

h2 {
    color: @primary;
}

ul, ol {
    padding: 0 0 0 17px;
    margin: 0 0 20px 0;
}

.btn {
    font-size: 1.4rem;
    font-family: @brand-font;
}

.on-link {
    &::after {
        content: ">";
        margin-left: 3px;
    }
}